<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCat</servlet-name>
        <servlet-class>adminCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDelCat</servlet-name>
        <servlet-class>adminDelCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopsload</servlet-name>
        <servlet-class>shopsload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelShop</servlet-name>
        <servlet-class>DelShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprShop</servlet-name>
        <servlet-class>AprShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopPassCheck</servlet-name>
        <servlet-class>ShopPassCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassShop</servlet-name>
        <servlet-class>ChangePassShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispImg</servlet-name>
        <servlet-class>DispImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopProducts</servlet-name>
        <servlet-class>ShopProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prodLoad</servlet-name>
        <servlet-class>prodLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProd</servlet-name>
        <servlet-class>DelProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrdSearch</servlet-name>
        <servlet-class>PrdSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prdDetail</servlet-name>
        <servlet-class>prdDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProIMG</servlet-name>
        <servlet-class>DelProIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProdIMG</servlet-name>
        <servlet-class>addProdIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageLoad</servlet-name>
        <servlet-class>MainPageLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCart</servlet-name>
        <servlet-class>DelCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartLoading</servlet-name>
        <servlet-class>CartLoading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeQuant</servlet-name>
        <servlet-class>changeQuant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartTotal</servlet-name>
        <servlet-class>CartTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCat</servlet-name>
        <url-pattern>/adminCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDelCat</servlet-name>
        <url-pattern>/adminDelCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopsload</servlet-name>
        <url-pattern>/shopsload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelShop</servlet-name>
        <url-pattern>/DelShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprShop</servlet-name>
        <url-pattern>/AprShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopPassCheck</servlet-name>
        <url-pattern>/ShopPassCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassShop</servlet-name>
        <url-pattern>/ChangePassShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispImg</servlet-name>
        <url-pattern>/DispImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopProducts</servlet-name>
        <url-pattern>/ShopProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prodLoad</servlet-name>
        <url-pattern>/prodLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProd</servlet-name>
        <url-pattern>/DelProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrdSearch</servlet-name>
        <url-pattern>/PrdSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prdDetail</servlet-name>
        <url-pattern>/prdDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProIMG</servlet-name>
        <url-pattern>/DelProIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProdIMG</servlet-name>
        <url-pattern>/addProdIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageLoad</servlet-name>
        <url-pattern>/MainPageLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/AddtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCart</servlet-name>
        <url-pattern>/DelCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartLoading</servlet-name>
        <url-pattern>/CartLoading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeQuant</servlet-name>
        <url-pattern>/changeQuant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartTotal</servlet-name>
        <url-pattern>/CartTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
